<div class='comment' data-id="<%= comment.id %>">
  <div>
    <h4> <%= comment.body %> </h4>
    <div class='control-panel'>
      <% if comment.user == current_user %>
        <%= link_to 'Edit Comment', edit_topic_post_comment_path(post.topic, post, comment), remote: true, class: 'btn btn-primary' %>
      <% end %>

      <% if comment.user == current_user || current_user&.admin? || current_user&.moderator? %>
        <%= link_to 'Delete Comment', topic_post_comment_path(post.topic, post, comment), remote: true, method: :delete, data: { confirm: 'Delete comment?' }, class: 'btn btn-danger' %>
      <% end %>
    </div>
    <p class='date'> Posted: <%= comment.created_at %> </p>
  </div>
</div>
