<div class="container comments">
  <h1><%= @post.title %>'s Comments</h1>

  <% if @comments.any? %>
    <% @comments.each do |comment| %>
      <div class="comment text-center">
        <h5><%= comment.body %></h5>
        <%= link_to "Edit Comment", edit_topic_post_comment_path(@post.topic, @post, comment), class: 'btn btn-primary' %>
        <%= link_to "Delete Comment", topic_post_comment_path(@post.topic, @post, comment), method: :delete, data: { confirm: "Delete comment?" }, class: 'btn btn-danger' %>
      </div>
    <% end %>
  <% else %>
    <p>No comments. Add one?</p>
  <% end %>

  <%= link_to "New Comment", new_topic_post_comment_path, class: "btn btn-primary" %>
</div>
